<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush"><ul>
      
      <li class="list-group-item">
        {% if not no_post_info %}
          <a class="btn btn-light"
            href="{% url 'posts:post_detail' post.id %}">Пост: подробнее
          </a>
        {% endif %}<br> 
        
          создан: {{ post.created|date:"d E Y" }}<br>
          комментариев: {{ post.comments.count }}    
      </li>  

      {% if not no_profile_info %}
        <li class="list-group-item">
          <a class="btn btn-light"
            href="{% url 'posts:profile' post.author.username %}">
            @{{ post.author.username }}
          </a><br>
          {{ post.author.get_full_name }}<br>
          постов: {{ post.author.posts.count }}<br>
          комментариев: {{ post.author.comments.count }}
        </li>
      {% endif %}

      {% if not no_group_info and post.group %}         
        <li class="list-group-item">
          <a class="btn btn-light"
            href="{% url 'posts:group_list' post.group.slug %}">
            #{{ post.group }}
          </a><br>
          постов: {{ post.group.posts.count }}
        </li>
      {% endif %} 

    </ul></ul>
  </aside>    

  {% if post.image %}

    <article class="col-12 col-md-4">
      {% load thumbnail %}
      {% if no_post_info %}
        {% thumbnail post.image  "500x500" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      {% else %}
        {% thumbnail post.image  "300x300" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      {% endif %}
    </article>

    <article class="col-12 col-md-5">        
      <p>{{ post.text|linebreaksbr }}</p>
    </article>

  {% else %}

    <article class="col-12 col-md-9">        
      <p>{{ post.text|linebreaksbr }}</p>
    </article>
    
  {% endif %}
</div> 

