<div class="row my-3">
    <ul class="nav nav-tabs">
        
      <li class="nav-item">
        <a class="nav-link {% if group_tab %}active{% endif %}"
          href="{% url 'posts:group_list' group.slug %}">
          {{ group.title }}   ({{ group.posts.count }})
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if description_tab %}active{% endif %}"
          href="{% url 'posts:group_description' group.slug %}">
          Описание 
        </a> 
      </li>

    </ul>
  </div>
   