{% extends 'base.html' %}


{% block title %}
   Записи сообщества: {{ group.title }}
{% endblock %}


{% block content %}

  <div class="container py-5">

    <h5>{{ group.title }}   ({{ group.posts.count }} постов)</h5>    
    <p>{{ group.description|linebreaksbr }}</p><hr>

    {% for post in page_obj %} 
      {% with group_info=False profile_info=True post_info=True %}
        {% include 'posts/includes/post_view.html' %}
      {% endwith %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    {% include 'posts/includes/paginator.html' %}
    

  </div>

{% endblock %}