{% extends 'base.html' %}


{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}


{% block content %}

  <div class="container py-5"> 

    {% if post.author == user %}
      <a class="btn btn-primary" 
        href="{% url 'posts:post_edit' post.pk %}">
        Редактировать запись
      </a> 
      <a class="btn btn-primary" 
        href="{% url 'posts:post_delete' post.pk %}">
        Удалить запись
      </a> 
      <hr>
    {% endif %} 

    {% include 'posts/includes/views/post_view.html' with no_post_info=True %}
    {% include 'posts/includes/comment_form.html' %}
    {% for comment in post.comments.all %}
      {% include 'posts/includes/comment_view.html' with user_ref=True %}
    {% endfor %}
    

  </div>

{% endblock %}