{% extends 'includes/form_templates/form_generic.html' %}

{% block user_title %}Зарегистрироваться{% endblock %}

{% block card_header %}Зарегистрироваться{% endblock %}
  
{% block card_body %}

  {% include 'includes/form_templates/form_errors_handler.html' %}

  <form method="post">{% csrf_token %}
    {% include 'includes/form_templates/for_field_in_form.html' %}

    <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
            Зарегистрироваться
        </button>
    </div>

  </form>

{% endblock %}